<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Introduction</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <div class="col-8">
      <p>
        Welcome to my Summer/Fall 2018 co-op experience as a Web Software Developer at <a href="http://unitron.com/">Unitron</a>.
        In late December 2017, I
        began to search for co-op positions where I was interested in more than just the position. I admired Unitron’s
        mission, but after a visit to their booth at the <a href="https://www.uoguelph.ca/computing/event/8th-annual-guelph-tech-showcase">University
          of Guelph Tech Showcase</a>,
        I was certain that I wanted to work there. I was told of a great environment, friendly coworkers, and a growing
        company.
      </p>
      <p>
        Fortunately, I was given an offer, and I gladly accepted it. During my 8-month term I met amazing people,
        strengthened my technical skills, and worked in my first professional software development team. By reading
        this
        report, I hope I can accurately reflect my amazing experience at Unitron.
      </p>
    </div>
    <div class="col-4">
      <img class="img-responsive img-rounded" src="assets/tech-showcase.png">
      <div class="img-caption">The Tech Showcase gives an opportunity to give a lasting impression to a recruiter</div>
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18" style="float: left;">&laquo; Table of Contents</a>
    <a href="/coop/sf18/about" style="float: right;">About Unitron &raquo;</a>
  </div>
</div>
