<div class="footer">
  <div>
    <div class="footer-item">
      Source code <a class="fab fa-github footer-logo" href="https://github.com/amahmoud33/amahmoud.me"></a>
    </div>
    <span class="footer-divider">|</span>

    <div class="footer-item">
      Icons <a class="fab fa-fort-awesome-alt footer-logo" href="https://fontawesome.com"></a>
    </div>
    <span class="footer-divider">|</span>

    <div class="footer-item">
      Powered by <a class="fab fa-angular footer-logo" href="https://angular.io"></a>
    </div>
  </div>
</div>
