<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Acknowledgements</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <p>
      I would like to start by thanking Ara and Galen for giving me an amazing opportunity to take on the previous two terms
      as a Software Developer and for allowing me to return in the Winter 2020 and Summer 2020 terms. I would also like to
      thank the UCC and Social Committee for all the continued amazing events and fun.
    </p>
    <p>
      Thank you to everyone in the Web team that I worked with: Kevin, Jose, Pedro and Filipe. Working with you made work
      fun. You gave me opportunities to prove myself and did not limit my growth. You gave me feedback when needed and
      enabled my growth. We had fun conversations about technology, local news, and even extreme weather. As a side note for
      Pedro, I hope everything in Miami was okay with Hurricane Dorian! Working on this team was a comfortable and enjoyable
      experience as always.
    </p>
    <p>
      Thank you to everyone on the Fitting Software Team: Rob, Greg, Paul, Michael, Gabriel, Chris, Mario, Jessica,
      Szabi, Leeanna, and Khalim. Again, although I did not get to work with the fitting software team a lot, I still learned a
      lot from the Developer Exchange meetings and my other involvement with the fitting software. Thank you Hubert,
      for finding and sending me great games this term.
    </p>
    <p>
      Thank you to my fellow co-ops: Jamie, Alyssia, Noah, Nicholas, John, and Aleksandar. Its nice to meet so many co-ops
      who I can relate with as a student. Even better that so many of you are from Guelph!
    </p>
    <p>
      Finally, thank you to everyone thats part of why I am happily returning to Unitron. Everyone who plays the games at lunch, who brings treats
      to the office, or does any of the other things that make Unitron such a great workplace.
    </p>
    <p>
      I can not wait to be back (again)!
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive" src="assets/thank-you2.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20/conclusions" style="float: left;">&laquo; Conclusions</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/ws20">&laquo; Table of Contents</a>
  </div>
</div>
