<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Acknowledgements</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <p>
      To start I want to thank Ara, Galen and Greg for giving me another awesome opportunity 
      to return as a Software Developer for Unitron and providing a chance to work alongside 
      a new team. In addition, I want to thank them for allowing me to remain at Unitron 
      as a part-time Software Developer during my F20 semester.
    </p>
    <p>
      I also want to thank everyone on the UCC and Social Committee for everything they do. 
      Thank you for the many events, BBQs, and sport clubs that we had before COVID-19. 
      Thank you for responding so quickly to our concerns about COVID-19 and providing 
      safety equipment so quickly.
    </p>
    <p>
      Thank you to everyone on the Fitting Software Team: Rob, Greg, Gabriel, Chris, Mario, 
      Jessica, Leeanna, Filipe and Khalim. This term I actually got to work alongside
       you all and it was a great experience! Thank you, Hubert, for helping me with 
       so many of the new areas I worked on and for sharing your awesome keyboard with 
       me. Thank you to: Andrej, Ewan, Issac, Jose, and Pedro for being awesome to 
       work with. Thank you to Paul for providing me with direction and explaining my tasks.
    </p>
    <p>
      Finally, thank you to everyone at Unitron that is part of this amazing culture. 
      Thank you to Sonova and Unitron for taking our concerns for COVID-19 so 
      seriously and providing us the opportunity to work from home. 
      This was especially appreciated as someone with 2 at risk parents.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive" src="assets/thank-you3.gif">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20/conclusions" style="float: left;">&laquo; Conclusions</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/ws20">&laquo; Table of Contents</a>
  </div>
</div>
