<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">About</div>
  <div class="divider">...</div>

  <div class="text-box">
    <p class="imp-text">
      I am a growing developer who's always looking to improve.
      Everyday I continue to discover and learn more amazing technologies. I have developed websites, desktop
      applications and mobile apps. As of now, all my professional experience is in Web development and I love it.
    </p>
    <br>
    <p>
      I am a 20-year-old Egyptian-Canadian who's currently studying Software Engineering at the 
      <a href="https://www.uoguelph.ca">University of Guelph</a>.
      To keep this brief, my passion for software development grew from my childhood.
      I played many games and eventually got into game development.
      As a child I was either playing football/soccer or I was on my computer.
      So, as you can tell, I never become a professional footballer.
      Although, I would say that this developer thing is pretty sweet!<br>
    </p>
    <br>
    <p>Need to know more about my technical skills? Check out my <a href="/assets/resume.pdf">resume</a>.</p>
  </div>
</div>
