<div class="col">
  <app-navbar></app-navbar>
  <div class="about-text">
    <div class="about-header">About</div>
    <div class="divider">...</div>
    <div class="col-8 offset-2">
      <h1 style="display: inline">I'm a growing developer </h1>
      <h3 style="display: inline">who's goal is to learn.</h3>
      <h3>Everday I continue to discover and learn more amazing technologies. I have developed websites, desktop applications and
        mobile apps. As of now, all my professional experience is in Web development and I love it.
      </h3>
    </div>
    <br>
    <div class="col-8 offset-2">
      <p style="line-height: 1.8">I'm a 20 year old Egyptian-Canadian who's currently studying Software Engineering at the <a class="link" href="https://www.uoguelph.ca">Univeristy of Guelph</a>.
        To keep this brief, my passion for software develpment grew from my childhood. Playing games in which I was
        able to develop mods and private servers for. As a child I was either playing football (soccer) or I was on my
        computer. So as you can tell, I never become a professional footballer 😢.
        Although, I would say that this developer thing is pretty sweet 😊.</p>
        <div>Need to know more about my technical skills? Check out my <a class="link" href="/assets/resume.pdf">resume</a>.</div>
    </div>
  </div>
</div>
