.about-text {
    padding: 10em 0;
}

.divider {
    font-size: 50px;
    color: #ff9f35;
    padding-bottom: 30px;
    line-height: 0.8;
    text-align: center;
}

.about-header {
    font-size: 5em;
    text-align: center;
}