.divider {
    font-size: 50px;
    color: #ff9f35;
    padding-bottom: 30px;
    line-height: 0.8;
    text-align: center;
}

.about-header {
    font-size: 5em;
    text-align: center;
}

.imp-text {
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 400;
}