<nav class="navbar navbar-expand-lg navbar-light am-navbar border-bottom">
  <!--Site logo-->
  <a class="navbar-brand logo" href="/home">
    <span class="logo-accent"><</span> amahmoud<span class="logo-accent">.</span>me <span class="logo-accent">></span>
  </a>

  <!--Burger Menu Toggler-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Navbar Options-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Co-op Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/coop/sf18">Summer/Fall 2018 | Unitron</a>
          <a class="dropdown-item" href="/coop/s19">Summer 2019 | Unitron</a>
          <a class="dropdown-item" href="/coop/ws20">Winter/Summer 2020 | Unitron</a>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
