<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Introduction</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <div class="col-4">
      <img class="img-responsive" src="assets/unitron-picture.png">
      <div class="img-caption">Unitron had a record 8 co-ops during Summer 2019!</div>
    </div>
    <div class="col-8">
      <p>
        Welcome to my Summer 2019 co-op report as a Web Software Developer at <a href="http://unitron.com/">Unitron</a>. This
        report will highlight my experience as a return co-op at Unitron and the exciting new technologies that I had the
        pleasure of working on.
      </p>
      <p>
        As mentioned above I am a returning co-op, I originally joined Unitron in Summer 2018 and successfully completed an
        amazing 8-month term. To my pleasure, I was offered the opportunity to come back for Summer 2019. Unitron’s mission to
        empower people through smart hearing solutions resonates with my personal interests and is genuinely exciting.
      </p>
      <p>During my Summer 2019 co-op term I learned new technologies, strengthen relationships, and grew as an individual. I
        hope this report accurately reflects my enjoyable experience at Unitron as a software developer and highlights the
        nuances of being a return co-op.
      </p>
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20" style="float: left;">&laquo; Table of Contents</a>
    <a href="/coop/ws20/about" style="float: right;">About Unitron &raquo;</a>
  </div>
</div>
