<div [@simpleFadeAnimation]="'in'">
  <div class="page-header2"><img src="assets/unitron-logo.png" height="65"></div>
  <div class="report-subtitle">Winter/Summer 2020</div>
  <div class="divider">...</div>
  <div style="text-align: center;">
    <div class="table-of-contents-link">
      <a href="/coop/ws20/introduction">Introduction</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/ws20/about">About Unitron</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/ws20/goals">Goals</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/ws20/jobdescription">Job Description</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/ws20/conclusions">Conclusions</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/ws20/acknowledgements">Acknowledgements</a>
    </div>
  </div>
</div>
