<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Conclusions</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <p>
      At the start of 2018 I was given an amazing opportunity to begin my career at an amazing company. Going into the
      tech showcase I had heard about Unitron and when meeting their employees, I knew that’s where I wanted to be. At
      the end of the term I reflect on the fun employee events, meeting Unitron customers who had their life changed by
      our products and growing under an experienced and supportive development team.
    </p>
    <p>
      In addition, as a Unitron employee I had numerous meetings where I learned about the different types of hearing
      loss and how it affects people. We even had another Gryphon, Dar’ya Heyko, who gave us an amazing
      perspective into life with hearing loss and how hearing aid products changed her life. Seeing this first hand
      gives purpose to our work and is a reward. Hopefully this report reflected my wonderful experience as a software
      developer at Unitron.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-10 m-auto">
      <img class="img-responsive2" src="assets/hearing-matters.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18/jobdescription" style="float: left;">&laquo; Job Description</a>
    <a href="/coop/sf18/acknowledgements" style="float: right;">Acknowledgements &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/sf18">&laquo; Table of Contents</a>
  </div>
</div>
