<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Conclusions</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <p>
      At the end of the W20/S20 co-op term I happily accepted a part-time Software Developer 
      position while I was studying during the F20 semester. So far, I am extremely happy to 
      have started my software development career at Unitron and I know this is where I 
      want to be. With each passing term I am continuing to grow and improve my skills. 
      In addition, I am also growing as a person with each passing day as I am experiencing 
      the increasing responsibility of an employee who works with deadlines more often.
    </p>
    <p>
      In addition, I have met many people at Unitron who are a pleasure to work with. 
      I reflect on the fun events, BBQs, and conversations over the term fondly. 
      I am excited for what the future holds and I would be happy to have Unitron 
      be part of it!
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 m-auto">
      <img class="img-responsive2 img-rounded" src="assets/hearts.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20/jobdescription" style="float: left;">&laquo; Job Description</a>
    <a href="/coop/ws20/acknowledgements" style="float: right;">Acknowledgements &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/ws20">&laquo; Table of Contents</a>
  </div>
</div>
