<div [@simpleFadeAnimation]="'in'">
  <div class="page-header2"><img src="assets/unitron-logo.png" height="65"></div>
  <div class="report-subtitle">Summer 2019</div>
  <div class="divider">...</div>
  <div style="text-align: center;">
    <div class="table-of-contents-link">
      <a href="/coop/s19/introduction">Introduction</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/s19/about">About Unitron</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/s19/goals">Goals</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/s19/jobdescription">Job Description</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/s19/conclusions">Conclusions</a>
    </div>
    <div class="table-of-contents-link">
      <a href="/coop/s19/acknowledgements">Acknowledgements</a>
    </div>
  </div>
</div>
