<div [@simpleFadeAnimation]="'in'">
  <div class="contact-text">
    <div class="page-header">Contact</div>
    <div class="divider">...</div>
    <h5>Need to get in touch? You can find me here.</h5>

    <div class="col-6 icon-wrapper-left">
      <a class="fab fa-linkedin icon-style" href="https://www.linkedin.com/in/amahmoud33/"></a>
    </div>
    <div class="col-6 icon-wrapper-right">
      <a class="fas fa-envelope-square icon-style" href="mailto:amahmoud@uoguelph.ca"></a>
    </div>

    <div class="col-8 offset-2">
      <a class="fab fa-github-square icon-style" href="https://github.com/amahmoud33"></a>
    </div>
  </div>
</div>
