.contact-text {
  text-align: center;
}

.icon-wrapper-left {
  display: inline-block;
  text-align: right;
}

.icon-wrapper-right {
  display: inline-block;
  text-align: left;
}

.icon-style {
  text-decoration: none !important;
  font-size: 10em;
}
