<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Goals</div>
  <div class="divider">...</div>

  <div class="row text-box">
    <h4>Improving my Web Stack Breath and Depth of Knowledge</h4>
    <p>
      Going into this 8-month co-op term, I had never used any web technologies I learned in a professional
      environment. My first experience in working with on a “full-stack” project came in CIS*2750 where we developed a
      web
      application with a C library imported into a Node.js backend. As such I was excited to extend this knowledge and
      learn
      technologies that are used in the industry. In addition, I wanted to be reliable when any problem arises, so that
      I can work on a solution regardless of the technology used.
    </p>
    <p>
      As a developer at Unitron, I immediately was given resources to learn about more industry used technologies
      such as .NET and Angular. During my term I was able to increase my breadth of knowledge by learning technologies
      that I
      had not known previous such as Angular, .NET core and CosmosDB. In addition, I increased my depth of knowledge in
      technologies I had learned previously such as Javascript, Node.js and SQL databases.
    </p>
    <p>
      Working on this goal was straight forward, I simply continued to learn using any resources provided to me.
      Whether I was completing online modules, asking other experienced developers, or reading other resources I was
      able to continue developing my skills in the .NET framework, Angular, SQL and much more. Essentially each day
      when I was working I was practicing with these technologies.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-4 mt-auto mb-auto ml-auto angular-logo">
      <span class="fab fa-angular" href="https://fontawesome.com"></span>
    </div>
    <div class="col-7 mt-auto mb-auto mr-auto">
      <div class="img-caption2"><i class="far fa-lightbulb"></i> Did you know?<br>
        In January 2019, Unitron plans to release a Dynamic Questionnaire Web App that will use Angular 7 which was
        officially released in October 2018!</div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving Problem Solving Skills when Presented with a Wicked Problem and a Set of
      Requirements</h4>
    <p>
      Another technical skill I looked to improve during my 8-month term was my problem-solving skills. As a software
      engineering student, I continuously develop my problem-solving skills in class by completing various assignments
      that are specifically tailored to improve these skills. However, in the industry, developers are often given
      wicked
      problems and requirements they must meet.
    </p>
    <p>
      Wicked problems do not have obvious, simple solutions. As a result, instead of simply solving the problem, you
      must
      problem solve while accounting for the possibility of change. This is in stark contrast to my class work, where
      usually the assignments are extremely refined and clear. As such I learned how to iterate my work. Simply put, I
      would begin by solving the problem in anyway I could and then through iterations refine it as much as possible.
      At
      the end of this process I would have a solution that can accept change and is robust.
    </p>

    <p>
      In addition to solving wicked problems, I learned a lot about solution efficiency. Of course, I have had direct
      experience with efficiency in classes but not to this extent. Since our web apps were accessed all across the
      globe, we had to ensure that the bundle sizes were not to large so that users with slower web connections could
      still have a great experience. Similarly, to increasing my breadth and depth of knowledge, I worked on this goal
      by
      working through problems everyday.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-7 m-auto">
      <img class="img-responsive2" src="assets/uml-example.png">
    </div>
    <div class="col-5 m-auto">
      <div class="img-caption2">
        We often used UMLs when designing APIs and Web Architecture, generating documentation before any development
        took place.
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving Oral and General Communication Skills Specifically when Explaining Complex
      Concepts</h4>
    <p>
      As a developer, I believe that having strong technical skills are important, but if you cannot clearly
      communicate
      your ideas then working on any team will be extremely difficult. As such, I strived to improve my oral
      communication, especially when explaining conceptual details. For the most part, I communicate well with my team,
      I
      give frequent updates, and I usually get my point across efficiently. However, when it comes to explaining
      conceptual details, like many other developers, I’ve confused others with my explanations.
    </p>
    <p>
      As such I spent time watching and learning from other developers’ communication strategies. One of the most
      prominent aspect of many of their communications was their use of an aid. Even though they were communicating
      orally, they would use other props such as a whiteboard to reinforce certain ideas. In addition, they had
      diagrams
      ready so that they are prepared for any explanations rather than scrambling to think of the answer.
    </p>
    <p>
      As such I began preparing myself before engaging in meetings where technical details were discussed. I ensured
      that
      I understood the subject and that I had any needed documentation. In addition, I utilized whiteboards more in my
      explanations. As a developer, I will continue to strive to improve this skill as it is a vital part of working on
      a
      team.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive2 img-rounded" src="assets/whiteboard-meeting.png">
    </div>
    <div class="col-6 m-auto">
      <div class="img-caption2">
        Utlizing a whiteboard gives developers an ability keep track of complex concepts and display them in a more
        meaningful way.
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving Inquiry and Analysis Skills when Developing Working on Existing Codebases</h4>
    <p>
      As a developer understanding existing code is critical before making any changes to minimize impact and avoid
      introducing bugs and as such, I looked to improve these skills. Working on an already existing production
      codebase meant that to make any meaningful contributions I had to improve my inquiry and analysis skills.
    </p>
    <p>
      The codebase had various requirements and standards to be met. In addition, we had documentation outlining the
      various expected behaviours. Before making any changes, I would analyse the section of code I was changing and
      its dependencies and ask other developers who are more experienced with the code. This is very similar to when I
      would ask a professor for clarification in a class environment.
    </p>
    <p>
      As I continued developing new features, I practiced these skills and improved them with time. I learned new
      techniques such as utilizing a dependency tree to visualize the impact of a change. In terms of inquiry skills, I
      do not hesitate to ask questions when needed, however I believe I improved how I formulated my questions so that
      they are easier to answer.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 m-auto">
      <img class="img-responsive2" src="assets/dependency-mapping.png">
    </div>
    <div class="col-4 m-auto">
      <div class="img-caption2">
        Dependency trees allows developers to understand the impact of replacing or changing a code section.
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving my Personal Life Balance</h4>
    <p>
      This goal was rather simple, achieving a healthy balance in my life in all aspects. Of course, as a dedicated
      University student, I understand the difficultly of having balance in so many different facets of life. However,
      I also saw this co-op term as an opportunity to grow.
    </p>
    <p>
      Since the start of the co-op term I gained a lot of great new relationships with my coworkers. In addition, since
      I got a car shortly before the start of my co-op term I was able to also travel to a lot of more social events in
      close cities. Although I still have a long way to go, I believe I have improved my life balance as I was able to
      succeed in the workplace and maintain healthy social relationships.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 m-auto">
      <img class="img-responsive img-rounded" src="assets/life-balance.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18/about" style="float: left;">&laquo; About Unitron</a>
    <a href="/coop/sf18/jobdescription" style="float: right;">Job Description &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/sf18">&laquo; Table of Contents</a>
  </div>
</div>
