<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Goals</div>
  <div class="divider">...</div>

  <div class="row text-box">
    <h4>Improving Inquiry and Analysis Skills when Working with New Requirements</h4>
    <p>
      As a returning developer I had some knowledge about most of the existing code base. However, I was faced with new
      challenges in the S19 co-op term. I am still aware that understanding existing code is vital in preventing the
      introduction of bugs and regression. I believe that inquiry and analysis skills are part of the foundation of a strong
      developer which pushes me to improve it every term.
    </p>
    <p>
      During my W19 semester, Unitron developed and shipped a new feature which sent solutions in the form of notifications
      to customers’ who had issues with their hearing aid configuration. However, upon my return this feature had a vast
      number of new high-level requirements that needed to be analyzed and broken down into technical requirements. This
      process developed my inquiry and analysis as I would interpret requirements and inquire about any vague or
      non-functional requirements to ensure that we are developing the expected software.
    </p>
    <p>
      As I continued to be faced with new tasks and requirements each day, I began to utilize tools to maximize my inquiry
      and analysis skills and reflect technical requirements accurately. One such tool was JIRA which is an issue tracking
      product that enables bug tracking and agile project management. Utilizing JIRA, I was able to breakdown requirements
      into tasks and label them with specific epics which help other developers know which tasks are related to each other.
      As the term progressed, I felt that my inquiry and analysis skills improved as was reflected in my co-op term
      evaluation.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-4 m-auto">
      <div class="img-caption2">
        JIRA allows developers to track their tasks and progress as well as provide tools for bug tracking and versioned
        releases.
      </div>
      </div>
      <div class="col-8 m-auto">
        <img class="img-responsive2 img-rounded"
          src="https://wac-cdn.atlassian.com/dam/jcr:8e2b794f-0d62-4b16-ab23-7810bfd4ce66/Group%205.png?cdnVersion=554">
      </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving my Breath and Depth of Web and CI/CD Technologies</h4>
    <p>
      Developers are constantly learning about various technologies hence I always make it one of my goals to increase my
      breadth and depth of knowledge. This term I specifically was interested in both web technologies but also CI/CD
      continuous integration/delivery) tools. Learning about tools such as Teamcity, Octopus deploy, docker and Kibana
      allows me to deploy and monitor complex projects which very important as a software developer.
    </p>
    <p>
      In my first term I was merely focused on learning the basics of web development and just learning how to develop web
      applications. This term I got the opportunity to expand my breadth of knowledge by learning various CI/CD tools in
      order to monitor web service health, deploy features, and debug production code. I began with Kibana which allowed me
      to see debug, warning, and error logs of various services. In order to use Kibana I learned about Elasticsearch and
      how to access logs of a specific service, error type, or even user account. Moreover, I utilized Octopus Deploy and
      Teamcity to deploy projects to multiple hosts all over the world. These CI/CD tools help me as a developer to create,
      deploy and monitor my own projects in the future.
    </p>
    <p>
      In addition, I expanded my breadth and depth of knowledge in web technologies during the S19 co-op term. As previously
      mentioned, when I returned in the S19 term an entire notification feature was developed and shipped. This feature
      utilized Google's FCM messaging and Microsoft's service bus that I had no previous experience in. Alongside that, I
      continued to work on projects which utilized design patterns that were ubiquitous with Unitron's codebase. I also was
      involved in various meetings about the positives and challenges of new services and how they fit in with our current
      micro-service architecture. Overall, I am happy with my progression and I believe that I successfully expanded my
      breadth and depth of knowledge.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-4 m-auto">
      <img class="img-responsive2 img-rounded" src="assets/feedback-response.png">
    </div>
    <div class="col-8 m-auto">
      <div class="img-caption2">
        <i class="far fa-lightbulb"></i> Did you know?<br>
        Google's FCM service can send notifications to a device in less than a second after being triggered!
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Understanding when to Lead and Improving my Leadership Skills</h4>
    <p>
      During the W19 semester I took a course on leadership which provided me with an insight into what it takes to become a
      great leader. Although I do not think that every great developer must be a leader all the time, I learned that each
      situation may have a different leader. In other words, leaders are not specific people with traits but instead are
      people who engage in the process of leadership.
    </p>
    <p>
      A large part of this goal was understanding in which scenarios I can take the lead especially when considering the
      many experienced developers at Unitron. I was involved in many situations where the team had large meetings that
      entailed many people taking leadership especially when presenting certain ideas. These meetings were a great
      opportunity to take note of the other developers’ leadership. During the term learned that good leaders facilitate
      growth of other team members and that they attempt to take as many perspectives into account as possible before making
      a decision.
    </p>
    <p>
      During the final month of the co-op term I was provided an opportunity to take ownership of the test client we
      developed that allowed both the QA and Marketing teams to test web features and retrieve sample content. This test
      client was important as without it testing the some of the features, such as the custom notifications, would have been
      impossible to test as a non-developer. I spent a significant amount of time leading in the development of the client
      whether it be planning, organizing discussion meetings, or designing the test client which developed my leadership
      skills.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <div class="img-caption2">
        During the term I learned first hand how good leaders enable the growth of other team members
      </div>
    </div>
    <div class="col-6 m-auto">
      <img class="img-responsive2 img-rounded" src="https://s3.amazonaws.com/media.eremedia.com/uploads/2016/03/09153044/Fotolia_76283005_S-700x467.jpg">
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving Problem Solving Skills to Create Solutions for Complex Problems</h4>
    <p>
      Similarly, to breath and depth of knowledge, I believe that problem solving skills are a vital part of a developer’s
      foundation. Stronger problem-solving skills enables developers to provide software solutions for more complex
      requirements. Thus, I always look to improve my problem-solving skills over my co-op terms.
    </p>
    <p>
      As previously mentioned, the complexity of the software that I developed during the S19 term was much higher than my
      previous S18 and F18 co-op terms. Previous projects had relatively simple requirements, less points of failure and
      overall less risk.
    </p>
    <p>
      During this term I implemented a JSON resource manager in the .NET framework. This is a problem in which we could not
      find a pre-existing solution for from another developer. In addition, due to the complexity of the resource manager in
      its use of active DLL assemblies, name conventions, and specific file formats (i.e. resx) the solution was much more
      complex than anticipated. As such I believe that I improved my problem-solving skills as I was able to solve a complex
      issue that was on the backlog for a substantial amount of time.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive2" src="https://docs.wso2.com/download/attachments/16847625/localization-key-value-pairs.png?version=1&modificationDate=1355985019000&api=v2">
    </div>
    <div class="col-6 m-auto">
      <div class="img-caption2">
        <i class="far fa-lightbulb"></i> Did you know?<br>
        JSON localization is not supported by .NET Framework's Resource Manager but supported by .NET Core's Resource Manager!
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving my Oral Communication when Explaining Concepts</h4>
    <p>
      This is a repeat goal from my F18 co-op term as I believe that good oral communication is part of the foundation of a
      good development team. Without concise communication requirements could be misinterpreted, code may be altered
      incorrectly and, ultimately, production software quality is degraded.
    </p>
    <p>
      In my previous co-ops I observed many examples of various developers, managers, and executives explaining requirements
      and communicating various ideas orally. I spent a substantial amount of time communicating face-to-face with other
      developers during our sprint meetings, stand-ups, and even colloquially during lunch. I believe that I am naturally
      able to have fun, energetic social conversations with others and this helps improve my personal relationship with
      other developers.
    </p>
    <p>
      During this term, I felt that others were able to understand my ideas and points concisely and quickly. Situations
      where I confused other developers with an explanation were much rarer during this term. This leads me to believe that
      I did improve my oral communication, but this is still an ongoing goal of mine.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-5 m-auto">
      <div class="img-caption2">
        During the S19 co-op term I began to understand how to accurately express ideas while allowing others to provide
        their insights
      </div>
    </div>
    <div class="col-7 m-auto">
      <img class="img-responsive img-rounded"
        src="https://oktetouanenglish.weebly.com/uploads/1/2/1/9/121942783/oral-comm_orig.jpg">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/s19/about" style="float: left;">&laquo; About Unitron</a>
    <a href="/coop/s19/jobdescription" style="float: right;">Job Description &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/s19">&laquo; Table of Contents</a>
  </div>
</div>
