<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Job Description</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <h4 style="text-align: left;">Overview and Main Tasks</h4>
    <p>
      Unitron Web Developers work in a team alongside other developers to implement web-based solutions using cutting-edge
      technologies. Unitron developers work under a strong and well thought out development architecture and process.
      Unitron also has a team of seasoned engineers that are committed to mentoring enable the growth of co-op students.
      Typically, Unitron developers work in an agile, collaborative and transparent working environment.
    </p>
    
    <p>Main tasks include:</p>
    <ul>
      <li>Developing and analyzing web-based software solutions for the hearing aid markets</li>
      <li>Debugging and resolving software issues</li>
      <li>Participating in agile project execution; daily stand ups, code reviews and product demos</li>
      <li>Work closely with other teams such as marketing to ensure the final product adheres to the set requirements</li>
    </ul>
  </div>

  <div class="row text-box" style="padding-top: 1.5em;">
    <h4 style="text-align: left;">Required Skills</h4>
    <p>
      As a Unitron Web Developer you are expected to bring strong technical skills and show competence in web development
      technologies. Experience with Node.js, the latest version of Angular, and Typescript is required for frontend user
      interface development. Experience with C#, .NET framework, SQL server, and CosmosDB is required for backend web
      service development.
    </p>
    <p>
      As a returning co-op I spent over 8 months working with Unitron’s web stack. During my first co-op term with Unitron I
      was provided many resources such as online courses and pair programming. As I worked on various projects, I continued
      to progress and improve the many required skills of a developer. In addition, Unitron frequently provides workshops,
      online resources, and mentorship when required to ensure that employees are competent.
    </p>
  </div>

  <div class="row text-box" style="padding-top: 1.5em;">
    <h4 style="text-align: left;">My Day-to-Day Experience</h4>
    <p>
      As mentioned in my previous co-op report, I quickly learned about the importance of trust. On my first day Ara
      Talaslian, VP of Research and Development at Unitron, stressed the value trust. He mentioned that in order to be
      successful in any field you must be reliable, timely, and productive. In turn, this builds trust with other team
      members and allows your role to expand. In my experience, as I continued to work and produce code reliably during my
      term, I was entrusted with riskier tasks which enabled my growth as a developer.
    </p>
    <p>
      During everyday work, I spent a substantial amount of time work closely with marketing team to ensure that
      requirements are met and to communicate any potential changes in the requirements. In addition, I spent a substantial
      amount of time work closely with the SQA team to ensure that software is easily testable and bug free. Moreover, as an
      agile team, we had stand-ups, web sprint meetings, and demo days where we showcased the latest development of the
      newest features.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-7 mt-auto mb-auto ml-auto">
      <img class="img-responsive2 img-rounded" src="assets/software-demo.png">
    </div>
    <div class="col-5 mt-auto mb-auto mr-auto img-caption2">
      Bi-weekly demos allowed developers to showcase the latest changes while communicating how they alter the current workflow
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20/goals" style="float: left;">&laquo; Goals</a>
    <a href="/coop/ws20/conclusions" style="float: right;">Conclusions &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/ws20">&laquo; Table of Contents</a>
  </div>
</div>
