<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Job Description</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <h4 style="text-align: left;">Overview and Main Tasks</h4>
    <p>
      Unitron Software Developers work in a team alongside other developers to implement solutions pretraining to Unitron’s many hearing aids. 
      Unitron aims to develop, design, manufacture and distribute solutions that push the limits of technology and redefine the future of the hearing aid industry. 
      Unitron developers work under a strong and well thought out development architecture and process. Unitron also has a team of seasoned engineers that are 
      committed to mentoring enable the growth of co-op students. Typically, Unitron developers work in an agile, collaborative and transparent working environment.
    </p>
    
    <p>Main tasks include:</p>
    <ul>
      <li>Develop and analyze software solutions for hearing aid market applications, hearing aid manufacturing and internal sales and marketing support</li>
      <li>Debugging and resolving software issues</li>
      <li>Participating in agile project execution; daily stand ups, code reviews and product demos</li>
      <li>Work closely with other teams such as marketing to ensure the final product adheres to the set requirements</li>
      <li>Create design documents as required to ensure that requirements are implemented to meet customer's expectations</li>
    </ul>
  </div>

  <div class="row text-box" style="padding-top: 1.5em;">
    <h4 style="text-align: left;">Required Skills</h4>
    <p>
      As a Unitron Software Developer you are expected to bring strong technical skills with 
      competence in the relevant technologies utilized at Unitron. These technologies 
      include .NET framework, SQL server, Windows Presentation Foundation (WPF), 
      Teamcity and more! Finally, Unitron developers need to be able to learn and 
      adapt quickly to new technologies.
    </p>
    <p>
      As a returning co-op I worked on a completely brand-new technology stack as I was no 
      longer on the web team but instead working with the fitting software team. 
      Although some of the technologies were different, they were still based on C#, 
      so I picked them up with relative ease. In addition, Unitron frequently provides 
      workshops, online resources, and mentorship when required to ensure that employees 
      are competent.
    </p>
  </div>

  <div class="row text-box" style="padding-top: 1.5em;">
    <h4 style="text-align: left;">My Day-to-Day Experience</h4>
    <p>
      Every term I have worked in Unitron has reiterated the importance of trust which is a 
      focal point of being a successful team. Ara Talaslian, VP of Research and Development 
      at Unitron, stressed the value trust. He mentioned that in order to be successful 
      in any field you must be reliable, timely, and productive. In turn, this builds 
      trust with other team members and allows your role to expand.
    </p>
    <p>
      Each day I worked on my assigned projects and user stories and I spent a fair amount 
      of time working closely with other developers to find solutions. I was provided the 
      opportunity to work on many different projects so everyday was something new! 
      I also worked with the SQA team to ensure that software is easily testable and bug free. Moreover, as an agile team, we had stand-ups, web sprint meetings, and demo days where we showcased the latest development of the newest features.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 mt-auto mb-auto ml-auto">
      <img class="img-responsive2 img-rounded" src="assets/sqa.png">
    </div>
    <div class="col-6 mt-auto mb-auto mr-auto img-caption2">
      The SQA team reported any bugs they found to the developers and then they would work closely with the developers to eliminate the bug
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20/goals" style="float: left;">&laquo; Goals</a>
    <a href="/coop/ws20/conclusions" style="float: right;">Conclusions &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/ws20">&laquo; Table of Contents</a>
  </div>
</div>
