<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Acknowledgements</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <p>
      I would like to start by thanking CJ Moore and giving condolences to his family. Sadly, he passed away in August
      2018. Talking with him at the co-op get togethers I found that he was a great guy with a bright future.

    </p>
    <p>
      Thank you Ara and Galen for giving me an amazing opportunity to take an 8-month term as a Software Developer in
      my first co-op and for allowing me to return in Summer 2019. I would also like to thank the UCC and Social
      Committee for all the amazing events and fun. Thank you, Shaun, for always helping me understand the requirements
      and responding to my overly detailed messages.

    </p>
    <p>
      Thank you to everyone in the Web team that I worked with: Braydon, Kevin, Jose, Pedro and Filipe. You guys made
      work fun and gave me a lot of opportunities to grow. You provided resources for me to learn and were super
      supportive. Working on this team was extremely comfortable and I got a lot of constructive feedback. It was
      always fun talking about something work related only to be distracted and eventually be talking about the latest
      tech.
    </p>
    <p>
      Thank you to everyone on the Fitting Software Team: Rob, Greg, Paul, Michael, Gabriel, Chris, Mario, Jessica,
      Szabi, Leeanna, and Khalim. Even though I did not directly work with the fitting software team, I still learned a
      lot from the Developer Exchange meetings and any other involvement with the fitting software. Thank you, Hubert,
      for finding and sending me great tech deals.
    </p>
    <p>
      Thank you to my fellow co-ops: Andrej, CJ, Braydon, Dar’ya, Jason, Humaira, Anush, and Jamie. We had a lot of fun in
      the co-op get togethers with lots of great food. Also, congratulations to Andrej for getting a full-time position
      after graduation.
    </p>
    <p>
      Finally, that you to everyone that makes Unitron great. Everyone who plays the games at lunch, who brings treats
      to the office, or does any of the other things that make Unitron such a great workplace.
    </p>
    <p>
      I can not wait to be back!
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive" src="assets/thank-you.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18/conclusions" style="float: left;">&laquo; Conclusions</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/sf18">&laquo; Table of Contents</a>
  </div>
</div>
