<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">About Unitron</div>
  <div class="divider">...</div>
  <div class="row text-box">

    <h4>Unitron's History</h4>
    <p>
      Unitron was founded in 1964 in Newfoundland, Canada by partners Fred Stork, Rolf Strothmann, and Rolf Dohmer.
      Unitron’s mission is to provide top of the line hearing aid technology to improve the lives of those who
      have hearing loss. Since the beginning, Unitron has been focused on products and features that benefit
      the users directly. Throughout the 1960s-1980s, Unitron became a leader in
      <a href="http://unitron.com/content/unitron/nz/en/consumer/hearing-aids/styles.html#slide-2">Behind the Ear (BTE)</a>
      hearing aids for people with severe to profound hearing loss.
    </p>
    <p>
      As hearing aids transitioned from analogue to digital, Unitron did not stop innovating. As the 1990s began,
      Unitron started providing user-friendly and intuitive fitting software. This fitting software allowed advanced
      adjustments to be done to the digital hearing aids.
    </p>
    <p>
      In the early 2000s, Unitron was acquired by Phonak AG which eventually was transitioned into <a href="https://www.sonova.com">Sonova</a>.
      Unitron
      continued growing and eventually introduced the
      <a href="http://unitron.com/content/unitron/au/en/professional/hearing-solutions/flex.html">FLEX™ ecosystem and
        FLEX:TRIAL™</a>
      which allowed potential users to try the latest technologies before purchase.
    </p>
    <p>
      More recently Unitron has positioned it self to grow as its own entity by taking risks on innovation projects and
      pushing its FLEX ecosystem. Just this summer they have released a product line filled with new hearing aid solutions
      never before offered by the company.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-4 m-auto">
      <img class="img-responsive img-rounded" src="assets/moxi-jump-r.png">
    </div>
    <div class="col-8 m-auto">
        <div class="img-caption2"><i class="far fa-lightbulb"></i> Did you know?<br>Unitron's first lithium ion Receiver-in-Canal (RIC) rechargeable hearing aid was released August 2019!</div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4>Unitron's Mission and Culture</h4>
    <p>
      As mentioned above, Unitron’s mission is to provide the best experience to its users. This person-centric culture
      is embedded in the entirety of the company, from top to bottom. In fact, Unitron has even rebranded and changed its
      motto to “Love the Experience” doubling down on the idea that they are selling a great person-centric experience and
      not just a product.
    </p>
    <p>
      Even as an employee at Unitron there are many benefits and they continue to add various policies that benefit
      employees.
      An example of this is the day-to-day working hours. At Unitron, they allow employees to work within a
      specific range of hours to either leave earlier or come in later than usual. In addition, they allow employees to
      work extra hours
      during the week to leave earlier on another day. These policies add extra flexibility to the workplace and
      increase morale.
    </p>
    <p>
      Finally, there are various internal committees (in addition to HR) that ensure a positive internal culture. The
      first is the Social Committee, they work closely with HR to run various events for employees such as lunches and
      sporting events. The events are accessible, cheap, and there is no pressure to participate if you are not
      interested. Unitron also has the Unitron Community Connection which regularly run charity events that give
      employees an opportunity to contribute to something positive and give back to the community.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 offset-2 m-auto">
      <img class="img-responsive2 img-rounded" src="https://www.unitron.com/content/dam/echo/images/active/all-article-images/misc/Hear_the_world_foundation_logo_1500x824.png">
    </div>
    <div class="img-caption col-10 offset-1 m-auto" style="font-size: 0.80em; padding-top: 1em;">
      <a href="https://www.hear-the-world.com/en">The Hear the World (HTW) Foundation</a> is a Sonova Group initiative and non-profit organization with a mission to address the hearing loss challenges facing developing countries
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4>Unitron's Software Technology</h4>
    <p>
      Unitron offers Truefit™, a desktop hearing aid fitting software that allows hearing healthcare providers to make
      changes to the hearing aid digitally. In addition to this, Unitron offers technology levels, were by using
      Truefit™ a user can easily upgrade a hearing aid by adding more programs. Hearing aid programs are profiles which
      adjust various frequencies to improve hearing based on the environment (i.e. Driving program or TV program).
      Truefit™ is built using WPF technology.
    </p>
    <p>
      In addition to Truefit™ there is the Web side of development. The Web side houses the production databases (SQL,
      CosmosDB and more) and various front-end/back-end features that target hearing healthcare provides and users such as
      Patient Insights or FLEX:TRACKER™. Majority of web technology utilizes the .NET framework and the user interfaces are
      built using Angular.
      Recently Unitron introduced a Feedback Response feature which utilizes Microsoft's service bus as well Google's FCM to
      send notifications that inform the user
      of issues specific to their hearing aid.
      </p>
      <p>
      Finally, Unitron has been pushing its software technology directly to its consumers through a mobile app. The
      mobile
      developers produce apps that pair directly with the hearing aids to provide the hearing aid user with troubleshooting
      steps, customization options and much more.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="m-auto">
      <img class="img-responsive2 img-rounded" src="assets/mobile-app.png">
    </div>
    <div class="img-caption col-10 offset-1 m-auto" style="font-size: 0.80em; padding-top: 1em;">
      The Unitron Remote Plus™ mobile app provides the user with the ability to adjust their hearing aids and provides
      functionality to help hearing care professionals understand how the user is using their hearing aids
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/s19/introduction" style="float: left;">&laquo; Introduction</a>
    <a href="/coop/s19/goals" style="float: right;">Goals &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/s19">&laquo; Table of Contents</a>
  </div>
</div>
