<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Job Description</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <h4 style="text-align: left;">Overview and Main Tasks</h4>
    <p>
      As a Unitron Web Software Developer you work alongside other developers to implement web-based functionality.
      Unitron developers work under a strong and well thought out development architecture and process. In addition,
      Unitron developers work in an agile, collaborative and transparent working environment.
    </p>
    
    <p>Main tasks include:</p>
    <ul>
      <li>Developing and analyzing web-based software solutions for the hearing aid markets</li>
      <li>Troubleshooting software/system issues as needed</li>
      <li>Participating in agile development</li>
      <li>Work closely with other teams such as marketing to ensure the final product adheres to the set requirements</li>
    </ul>
  </div>

  <div class="row text-box" style="padding-top: 1.5em;">
    <h4 style="text-align: left;">Required Skills</h4>
    <p>
      As a Unitron Web Software Developer you are required to bring the standard technical skills for a web development
      job. Experience with Node.js, Angular 2, Javascript, HTML, CSS, and SQL server is required to be able to work on
      all facets of the various projects.
    </p>
    <p>
      Personally, my experience in JS, HTML, CSS and Node.js came in personal projects where I created web apps. I also
      had previously used SQL, but my SQL skills were reinforced when it was needed in my CIS*2750 class. It is also
      important to mention that Unitron provides great resources to improve these skills and bring you up to a level
      where you can work efficiently.
    </p>
  </div>

  <div class="row text-box" style="padding-top: 1.5em;">
    <h4 style="text-align: left;">My Day-to-Day Experience</h4>
    <p>
      Working as a developer at Unitron was a very interesting experience. I learned very quickly that as a new co-op
      its
      about trust. Completing tasks at highest quality possible in the allotted time allows other developers to entrust
      you more with large and more complex tasks. From my experience, there are no any specific tasks set aside just
      for
      Unitron co-ops. Instead, as co-ops grow as developers they are given more and more complex tasks.
    </p>
    <p>
      Another interesting part of working at Unitron is that you work closely with marketing team to ensure that
      requirements are met and to communicate any potential changes in the requirements. In addition, as an agile team,
      we had frequent stand-ups where we discussed what we completed before the stand-up as well as upcoming tasks.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 mt-auto mb-auto ml-auto">
      <img class="img-responsive2 img-rounded" src="assets/stand-up.png">
    </div>
    <div class="col-4 mt-auto mb-auto mr-auto img-caption2">
      As developers we had frequent stand-up meetings in order to ensure that we know what each developer is doing.
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18/goals" style="float: left;">&laquo; Goals</a>
    <a href="/coop/sf18/conclusions" style="float: right;">Conclusions &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/sf18">&laquo; Table of Contents</a>
  </div>
</div>
