<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Goals</div>
  <div class="divider">...</div>

  <div class="row text-box">
    <h4>Improving Inquiry and Analysis Skills by Working with a New Codebase and Technologies</h4>
    <p>
      The W20/S20 co-op term was vastly different for me as I was no longer exclusively 
      working on the web team as I had done so in my previous terms. Although I had some 
      understanding of the Truefit™ software I had next to no experience with its codebase. 
      As a result, improving my inquiry and analysis skills was critical in order for me to 
      continue being a productive and efficient developer. 
      In addition, I have always believed that there are certain skills such as inquiry and 
      analysis skills that are the foundation of any strong developer.
    </p>
    <p>
      During this co-op term I worked on a plethora of new projects that were built on top 
      of existing legacy solutions. A major project I was involved in was a data aggregation 
      solution in which a web portal was created that collected, cleaned, formatted and 
      exported Sonova’s hearing aid data to an easy to navigate web application. This web 
      application provides human digestible data about Sonova’s hearing aid products across 
      all its major brands (including Unitron) to our in-house developers, SQA team, and 
      product managers. While working on this project I was exposed to a variety of databases, 
      processes, and data structures. I spent a lot of my time as a developer analyzing the 
      data whether it was in the form of an enum value, hex value or a BLOB. I also developed 
      my inquiry and analysis skills further by interpreting the provided requirements and 
      inquiring about any requirements that were vague or non-technical. 
    </p>
    <p>
      In addition, I worked on a variety of user stories throughout the co-op term from user 
      interface changes and translations to creating emulation of hearing aids. 
      When tackling these user stories, I utilized my inquiry and analysis skills in a 
      similar matter by dealing with requirements directly. Due to the sheer number of 
      different types of user stories I worked on during this term I feel that my inquiry 
      and analysis skills improved greatly.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-4 m-auto">
      <div class="img-caption2">
        Hearing aid data is typically stored in BLOBs and requires additional resources to analyze its value
      </div>
      </div>
      <div class="col-8 m-auto">
        <img class="img-responsive2 img-rounded"
          src="https://i.imgur.com/ABFMqPQ.png">
      </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving my Breath and Depth of .NET and WPF Technologies</h4>
    <p>
      As a developer, I am always looking to increase my knowledge about various technologies 
      and as such every co-op term I set a goal to increase my breadth and depth of knowledge. 
      This term I was given a fantastic opportunity to do as I was no longer exclusively 
      working with the web team. I was now a general software developer which meant that 
      I was required to learn new technologies and increase my depth of knowledge in 
      technologies I worked with previously.
    </p>
    <p>
      As mentioned, in my previous co-op terms I was strictly a web developer but in my 
      last co-op term I was given the opportunity to work on Unitron’s flagship fitting 
      software Truefit™. The fitting software has a WPF frontend with a .NET backend for 
      all the platform code. I had never worked on a WPF client and as a result I spent 
      time expanding my breadth of knowledge by learning the basics of the technology. 
      As for .NET I had experience with it in my previous co-op terms on the web team as 
      I directly worked with the .NET and .NET core frameworks for many of our APIs. 
      However, creating a platform for a desktop application is wildly different from 
      creating an API and as a result I expanded my depth of knowledge in .NET by working 
      in a different arena.
    </p>
    <p>
      In addition, I worked on a data aggregation project in which introduced me to a new 
      open-source business intelligence server – Metabase. Working with Metabase increased 
      my depth of knowledge in setting up and working with various databases and connecting 
      them securely and efficiently to a remote server. In addition, I worked with the ETL 
      (extract, transform, and load) model for the very first time which increased my breadth 
      of knowledge. I even increased my breadth of knowledge when it came to various business 
      metrics that were built into Metabase’s functionality. Upon reflection, I believe that 
      I successfully expanded my breadth and depth of knowledge which makes me very happy.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive2 img-rounded" src="assets/wpf.png">
    </div>
    <div class="col-6 m-auto">
      <div class="img-caption2">
        <i class="far fa-lightbulb"></i> Did you know?<br>
        Microsoft's WPF was initially released in 2006 but is still being used to create desktop applications worldwide!
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Integrative Communication when Working with Multiple Teams</h4>
    <p>
      In multiple terms I have specified oral and written communication as a skill I would 
      like to improve. Being a part of a team requires effective communication to ensure 
      there are no assumptions and no conflicts between team members’ work. However, 
      aside from basic oral and written communication skills, integrative communication 
      also plays a critical role in the efficiency and performance of a team. Integrative 
      communication involves cross-team adaption in communication strategy and without 
      this teams can be fragmented.
    </p>
    <p>
      As mentioned, I was no longer working solely on the web team, instead I was directly 
      working alongside the web, fitting software, hearing aid software and software quality 
      assurance teams. Working alongside so many different teams that all have their own 
      processes, jargon, and communication channels provided me with a great opportunity 
      to develop my communication skills and adapt it accordingly. My goal was to improve 
      my communication in multi team meetings by being able to efficiently explain technical 
      details at an appropriate level.
    </p>
    <p>
      At times I got into too much detail and utilized jargon that was not inclusive to 
      certain meeting members such as product management.  I believe that over time 
      I became much more self-aware in this sense and I tried my best to provide high-level 
      overviews that everyone in the meetings can understand. Another aspect I improved on 
      was my initiative in getting addition details and assistance from other team members. 
      As I spent time working with each team, I began understanding who to contact for each 
      type of inquiry and how much time to allocate for me working on the problem alone 
      before going to that person.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <div class="img-caption2">
        Our standups included developers, SQA testers, and product management which meant that explanations of tasks needed to use inclusive language and limited jargon
      </div>
    </div>
    <div class="col-6 m-auto">
      <img class="img-responsive2 img-rounded" src="assets/stand-up2.png">
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Improving Problem Solving Skills to Build On-Top of Existing Solutions</h4>
    <p>
      For a software developer, problem solving skills are a foundation and is essential in 
      everyday work. Stronger problem solving skills result in more robust solutions that 
      do not cause issues over time. Each co-op term I try to develop my problem solving 
      skills and this term was no different. Again, with me no longer exclusively working 
      with the web team I was presented with a number of new problems types.
    </p>
    <p>
      From working on a data aggregation project all the way to UI user stories I have 
      solved so many different types of problems. These experiences not only helped 
      improve my breadth and depth of knowledge but also in turn improved my problem 
      solving as I am now much more proficient at dealing with specific types of problems 
      and I have created strategies in doing so.
    </p>
    <p>
      A strong example was another project I worked on which was a country availability 
      tool which exported country availabilities for each hearing aid and where it was 
      sold. Initially the tool divided each exported data set by country and each data 
      set had all major brands within it. Eventually a product manager requested that 
      the data sets also be divided by brand. I had previous experience in solving this 
      division by brand problem when I was working on the data aggregation tool. I knew 
      exactly which enums to use and what values to corresponded to each brand and its 
      licensors. As such, I was able to leverage this previous experience to devise a 
      similarly structured solution to the problem. As mentioned, I believe that growing 
      my experiences in different types of problems have improved my problem solving 
      tremendously.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-6 m-auto">
      <img class="img-responsive2" src="assets/world.png">
    </div>
    <div class="col-6 m-auto">
      <div class="img-caption2">
        <i class="far fa-lightbulb"></i> Did you know?<br>
        Unitron sells hearing aids in over 93 countries!
      </div>
    </div>
  </div>

  <div class="row text-box" style="padding-top: 2em;">
    <h4 style="text-align: left;">Civic Knowledge & Engagement</h4>
    <p>
      At Sonova we have a lot of great events and programs such as dog walks, sports, and 
      fundraisers. As such, I looked to be more engaged in the various social activities 
      provided and to participate as much as possible. People at Unitron are extremely 
      inclusive so it was super easy to sign up for any event regardless of ability.
    </p>
    <p>
      My first event I signed up for was the Euchre tournament which is a card game that 
      I was not familiar with. However, people took time out of their day to explain 
      the rules and I found a partner. Although we did not win any games, we had lots 
      of fun and I connected more with my co-workers.
    </p>
    <p>
      Unfortunately, with the eventual strike of COVID-19 a lot of other events such as the Mario Kart tournament and BBQs were cancelled. 
      However, our social committee quickly adapted and ran various online events, 
      with some even contributing to charities to relief COVID-19 victims! Being a 
      part of these events gave me a feeling of pride and fulfillment. I am happy to 
      say that I believe I was involved in many civic and social events and that I 
      became more knowledgeable about Sonova and Unitron as a whole.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-5 m-auto">
      <div class="img-caption2">
        With the strike of COVID-19 a weekly event named "Quarantunes" was born where each
        member on the team submitted a song and everyone would try to guess which song belonged to who
      </div>
    </div>
    <div class="col-7 m-auto">
      <img class="img-responsive img-rounded"
        src="assets/music.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/ws20/about" style="float: left;">&laquo; About Unitron</a>
    <a href="/coop/ws20/jobdescription" style="float: right;">Job Description &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/ws20">&laquo; Table of Contents</a>
  </div>
</div>
