* {
  font-family: 'Roboto Slab', serif;
  /* Ensuring text cannot be selected/highlighted on site */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-header {
  font-size: 5em;
  text-align: center;
}

.text-box {
  max-width: 790px;
  margin: 0 auto;
}

.divider {
  font-size: 50px;
  color: #ff9f35;
  padding-bottom: 30px;
  line-height: 0.8;
  text-align: center;
}

a {
  padding-top: 12px;
  color: #000000 !important;
  text-decoration: underline #ff9f35;
}

a:focus,
a:hover {
  color: #ff9f35 !important;
  text-decoration: underline #ffffff;
}
