<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Conclusions</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <p>
      At the end of my S18/F18 co-op term I happily accepted the opportunity to return to Unitron after a great start to my
      software development career. After a successful first term I was very comfortable as a software developer at Unitron
      and know that there is where I wanted to be. During both terms I got opportunities to reflect on meeting Unitron
      customers who had their life changed by our products which is fulfilling. In addition, the mentorship provided by the
      other developers helped me grow both as a developer and as a person.
    </p>
    <p>
      In addition, I met many fellow Guelph Gryphons who were on the Unitron team as co-ops. I reflect on the fun co-op
      events, BBQs, and conversations over the term. In fact, we had a record number of co-ops this term and 4 of them were
      Guelph Gryphons!
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-10 m-auto">
      <img class="img-responsive2" src="assets/speech-convo.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/s19/jobdescription" style="float: left;">&laquo; Job Description</a>
    <a href="/coop/s19/acknowledgements" style="float: right;">Acknowledgements &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/s19">&laquo; Table of Contents</a>
  </div>
</div>
