<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Job Description</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <h4 style="text-align: left;"></h4>
    <p>
    </p>
    <p>
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 m-auto">
      <img class="img-responsive img-rounded" src="assets/.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18/goals" style="float: left;">&laquo; Goals</a>
    <a href="/coop/sf18/conclusions" style="float: right;">Conclusions &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/sf18">&laquo; Table of Contents</a>
  </div>
</div>
