<div [@simpleFadeAnimation]="'in'">
  <div class="page-header">Job Description</div>
  <div class="divider">...</div>
  <div class="row text-box">
    <h4 style="text-align: left;">Improving my Personal Life Balance</h4>
    <p>
      This goal was rather simple, achieving a healthy balance in my life in all aspects. Of course, as a dedicated
      University student, I understand the difficultly of having balance in so many different facets of life. However,
      I also saw this co-op term as an opportunity to grow.
    </p>
    <p>
      Since the start of the co-op term I gained a lot of great new relationships with my coworkers. In addition, since
      I got a car shortly before the start of my co-op term I was able to also travel to a lot of more social events in
      close cities. Although I still have a long way to go, I believe I have improved my life balance as I was able to
      succeed in the workplace and maintain healthy social relationships.
    </p>
  </div>
  <div class="col-8 offset-2 row">
    <div class="col-8 m-auto">
      <img class="img-responsive img-rounded" src="assets/life-balance.png">
    </div>
  </div>
  <div class="col-10 offset-1" style="padding-top: 1em;">
    <a href="/coop/sf18/goals" style="float: left;">&laquo; Goals</a>
    <a href="/coop/sf18/conclusions" style="float: right;">Conclusions &raquo;</a>
  </div>
  <div class="col-10 offset-1" style="float: left; padding-top: 0.7em;">
    <a href="/coop/sf18">&laquo; Table of Contents</a>
  </div>
</div>
